@import "../../styles/break-points.scss";

.Container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 18px;
  padding: 1rem 2rem;
  background-color: #ffffff;

  .corenotes {
    display: none;
  }

  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
    .corenotes {
      font-size: small;
    }
  }

  @include desktop-large {
  }
}
